.nav-item{
   height: 70px;
    background-color: rgb(21, 65, 65);
    align-items: center;
    justify-content: center;
    display: flex;
   
}
.nav-item nav{
    margin-left: 790px;
   
}
.nav-item img{
    width: 75px;
    height: 65px;
    margin-top: 5px;
    
}
.nav-item nav a{
    text-decoration: none;
    padding: 23px;
    color: white;
    font-size: 17px;
   
}